header
	background-image: url('../../public/img/fon.jpg')
	background-size: cover
	background-position: center top
	margin-top: 10px
	height: 100vh
	position: relative
	opacity: .8
.logo__container
	display: inline-block
	display: flex
	.registration__wrapper
		display: flex
		justify-content: flex-end
		margin-bottom: 62px
		position: relative
		span
			font-size: 13px
			position: absolute
			top: 35px
			right: 142px
		.last__span
			right: 0px
		a
			display: block
			color: #333
			font-size: 20px
			font-weight: 600
			cursor: pointer
			transition: all .3s ease
			&:hover
				color: #666
		.fa-sign-in
			font-size: 30px
			color: #338cd0
			margin-right: 10px
			animation: example 2.5s infinite

			&:hover
		@keyframes example
			0%
				transform: translate(0)
			70%
				transform: translate(-10px)
			100%
				transform: translate(0)
	p
		font-size: 18px
		position: relative
		margin-left: 8px
		margin-top: -45px
		margin-bottom: 15px
		font-weight: 600
		color: #444
	.contact
		margin-top: 10px
		.fa-phone
			font-size: 16px
			margin-right: 5px
			color: #0070c5
		p
			margin-left: 0px
			font-size: 16px
			color: #0070c5
			font-weight: 600
			margin-top: -16px
			text-align: left
		span
			padding-right: 6px
			font-weight: 600
			position: relative
			top: -6px
			white-space: nowrap
			color: #444
			&:last-child
				font-size: 14px
	img
		width: 320px
	h1
		font-size: 58px
		margin-left: 6px
		text-shadow: 0px 0px 1px black
		position: relative
		top: -5px
		color: #437ab1
		margin-top: 0
		font-family: 'Droid Serif', serif
