header
	background-image: url('../../public/fon.jpg')
	background-size: cover
	background-position: center top
	margin-top: 10px
	height: 100vh
	position: relative
	opacity: .8
.logo__container
	display: flex
	clear: both
	justify-content: space-between
	p
		font-size: 13px
		position: relative
		margin-top: -28px
		margin-bottom: 15px
		font-weight: 600
		color: #444
	.contact
		margin-top: 10px
		.fa-phone
			font-size: 16px
			margin-right: 5px
			color: #0070c5
		p
			margin-left: 0px
			font-size: 16px
			color: #0070c5
			font-weight: 600
			margin-top: -16px
		span
			padding-right: 6px
			font-weight: 600
			position: relative
			top: -6px
			white-space: nowrap
			color: #444
			&:last-child
				font-size: 14px
	img
		width: 220px
	h1
		font-size: 40px
		margin-left: 6px
		position: relative
		top: -5px
		color: #437ab1
		margin-top: 0
		font-family: 'Droid Serif', serif
