.registration
    h3
        text-align: center
        margin-top: -5px
        padding-bottom: 25px
        position: relative
        &:before
            content: ''
            position: absolute
            width: 220px
            height: 2px
            background-color: #0070c5
            bottom: 15px
    ul
        display: inline-block
    p
        font-weight: 600
    input
        padding: 2px 3px
        margin:
            bottom: 4px
        border-radius: 3px
        border: 1px solid silver

    button
        font-weight: 600
        margin-right: 10px
        margin-left: 280px
        margin-bottom: 40px
