.slider__wrapper
    position: relative
    i
        z-index: 2
        position: absolute
        top: 80px
        cursor: pointer
    .fa-chevron-right
        right: 0
    .main__slider
        border-bottom: 1px solid #4279b1
        ul
        width: 4000px
        margin-left: -2446px
        li
            display: inline-block
            margin-left: 2px
            width: 1200px
            height: 220px
            position: relative
            background-color: #cedfff
            transition: all 1s ease
        img
            width: 390px
            float: right
            margin-right: -2px
        p
            width: 500px
            margin: 50px
            padding: 10px
            border-radius: 5px
            box-shadow: 1px 1px 5px #555
            font-weight: 600
            background-color: white
    .ball
        display: flex
        position: absolute
        bottom: 5px
        right: 48%
        div
            width: 13px
            height: 13px
            border-radius: 10em
            background: lighten(teal, 20%)
            z-index: 2
            border: 1px solid silver
            margin-left: 10px
            cursor: pointer
